@use '@styles/templates.scss';

.button-icon {
  @extend %standard-transition;

  width: 3rem;
  height: 3rem;
  cursor: pointer;
  user-select: none;

  &:hover {
    filter: brightness(1.2);
  }

  &:active {
    filter: brightness(0.8);
  }
}

@media (max-width: 1000px) {
  .button-icon {
    width: 2.5rem;
    height: 2.5rem;
  }
}
