@use '@styles/colors.scss' as color;
@use '@styles/variables.scss' as variable;
@use '@styles/templates.scss';

.header {
  @extend %flex-center;

  height: variable.$header-height--standart;
  justify-content: space-between;
  background-color: color.$main-color;
  color: color.$font-color--white;

  &__info {
    @extend %flex-center;

    margin-left: 1rem;
  }

  &__icon {
    width: 8rem;
  }

  &__logout {
    margin-left: 1rem;
  }

  &__user {
    @extend %flex-center;

    margin-left: 1rem;
    flex-direction: column;

    &-name {
      font-weight: 700;
      font-size: 2rem;
    }

    &-role {
      font-size: 1.6rem;
      margin-top: 1rem;
    }
  }

  &__nav {
    @extend %flex-center;

    height: 100%;
    justify-self: flex-end;

    &-block {
      @extend %flex-center;
      @extend %standart-transition;

      height: 100%;
      padding: 0 1.6rem;

      &--active {
        background: color.$main-color--active;
      }

      &:hover {
        background: color.$main-color--hover;
      }

      &:active {
        background: color.$main-color--active;
      }
    }

    &-icon {
      height: 3rem;
      width: 3rem;
      margin-right: 1rem;
    }

    &-link {
      @extend %flex-center;

      height: 100%;
      width: calc(100% + 3.2rem);
      color: color.$font-color--white;
      font-size: 2rem;
      user-select: none;
    }
  }

  &__bar {
    width: 3rem;
    height: 3rem;
    margin-right: 2rem;
    fill: color.$font-color--white;
    background-color: transparent;
    border: none;
    display: none;
  }
}

@media (max-width: 1250px) {
  .header {
    &__icon {
      width: 7rem;
    }

    &__nav {
      &-block {
        padding: 0 1rem;
      }

      &-link {
        font-size: 2rem;
      }

      &-icon {
        height: 2.8rem;
        width: 2.8rem;
      }
    }

    &__user {
      &-name {
        font-size: 2rem;
      }

      &-role {
        font-size: 1.6rem;
      }
    }
  }
}

@media (max-width: 1030px) {
  .header {
    height: variable.$header-height--mid;

    &__icon {
      width: 6rem;
    }

    &__nav {
      &-link {
        font-size: 1.6rem;
      }

      &-icon {
        height: 2rem;
        width: 2rem;
      }
    }

    &__user {
      &-name {
        font-size: 1.6rem;
      }

      &-role {
        font-size: 1.2rem;
      }
    }
  }
}

@media (max-width: 850px) {
  .header {
    height: variable.$header-height--low;

    &__icon {
      width: 4rem;
    }

    &__nav {
      display: none;
    }

    &__bar {
      display: flex;
      width: 2.5rem;
      height: 2.5rem;
    }

    &__user {
      &-name {
        font-size: 1.4rem;
      }

      &-role {
        margin-top: 0;
      }
    }
  }
}
