@use '@styles/colors.scss' as color;

@keyframes location-pseudo {
  0% {
    transform: translateY(0%);
  }

  50% {
    transform: translateY(20%);
  }

  100% {
    transform: translateY(0%);
  }
}

@keyframes location-current {
  0% {
    background: color.$fourth-color;
  }

  50% {
    background: transparent;
  }

  100% {
    background: color.$fourth-color;
  }
}

@keyframes location-future {
  0% {
    background: transparent;
  }

  50% {
    background: color.$green;
  }

  100% {
    background: transparent;
  }
}
