$main-color: #7fa89c;
$main-color--hover: #7fa89c;
$main-color--active: #7fa89c;
$second-color: #c15943;
$second-color--hover: #c15943;
$second-color--active: #c15943;
$table-color: rgb(26 26 26 / 100%);
$table-color--opacity-mid: rgb(26 26 26 / 40%);
$table-color--opacity-low: rgb(26 26 26 / 7%);
$font-color--white: #eaeaea;
$font-color--black: #1a1a1a;
$link-color: #4566c1;
