$main-color: #7fa89c;
$main-color--hover: #88b6a8;
$main-color--active: #6f9489;
$main-color-shadow: #4c6860;
$second-color: #d35f48;
$second-color--hover: #df634b;
$second-color--active: #bd5540;
$second-color-shadow: #a34d3b;
$table-color: rgb(26 26 26 / 100%);
$table-color--opacity-mid: rgb(26 26 26 / 40%);
$table-color--opacity-low: rgb(26 26 26 / 7%);
$font-color--white: #eaeaea;
$font-color--black: #1a1a1a;
$link-color: #4566c1;
