/* MAIN */
$main-color: #59468b;
$main-color--hover: #a887ff;
$main-color--active: #44356a;
$main-color-shadow: #382b57;

/* SECOND */
$second-color: #e7731f;
$second-color--hover: #f17a24;
$second-color--active: #c4631e;
$second-color-shadow: #a34d3b;

/* THIRD */
$third-color: #7f8dcf;
$third-color--hover: #90a0e6;
$third-color--active: #6470a3;
$third-color-shadow: #7f8dcf;

/* THIRD */
$fourth-color: #ea5455;
$fourth-color--hover: #ff5d5d;
$fourth-color--active: #d34c4c;
$fourth-color-shadow: #b84040;

/* TABLE */
$table-color: #1a1a1acc;

/* FONT */
$font-color--white: #eaeaea;
$font-color--white--hover: #f7f7f7;
$font-color--white--active: #cfcfcf;
$font-color--black: #1a1a1a;
$link-color: #4566c1;

/* BACKGROUND */
$bg-color-grey: #dbdbdb;
