@use '@styles/colors.scss' as color;

$background-color: transparent;

textarea {
  &::-webkit-scrollbar {
    width: 15px;
    height: 15px;
  }

  &::-webkit-scrollbar-track {
    background: $background-color;
  }

  &::-webkit-scrollbar-corner {
    background: $background-color;
  }
}

div,
main,
html,
body {
  &::-webkit-scrollbar {
    width: 20px;
    height: 20px;
  }

  &::-webkit-scrollbar-track {
    background: $background-color;
  }

  &::-webkit-scrollbar-corner {
    background: $background-color;
  }
}

textarea,
main,
div {
  &::-webkit-scrollbar-thumb {
    background-color: color.$main-color;
    border-radius: 0.7rem;
    border: 0.3rem solid $background-color;
    background-clip: content-box;
  }
}

html,
body {
  &::-webkit-scrollbar-thumb {
    background-color: color.$main-color;
    border: 0.2rem solid $background-color;
    background-clip: content-box;
  }
}

@media (max-width: 1000px) {
  div,
  main,
  html,
  body {
    &::-webkit-scrollbar {
      width: 15px;
      height: 15px;
    }
  }

  main,
  div {
    &::-webkit-scrollbar-thumb {
      border-radius: 0.6rem;
    }
  }
}
