@use '@styles/colors.scss' as color;

div,
html,
body {
  &::-webkit-scrollbar {
    width: 20px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 1rem;
  }
}

div {
  &::-webkit-scrollbar-thumb {
    background-color: color.$main-color;
    border-radius: 0.7rem;
    border: 0.3rem solid transparent;
    background-clip: content-box;
  }
}

html,
body {
  &::-webkit-scrollbar-thumb {
    background-color: color.$main-color;
    border: 0.2rem solid transparent;
    background-clip: content-box;
  }
}
