@use '@styles/colors.scss' as color;

textarea {
  &::-webkit-scrollbar {
    width: 15px;
    height: 15px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 1rem;
  }

  &::-webkit-scrollbar-corner {
    background: transparent;
  }
}

div,
main,
html,
body {
  &::-webkit-scrollbar {
    width: 20px;
    height: 20px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 1rem;
  }

  &::-webkit-scrollbar-corner {
    background: transparent;
  }
}

textarea,
main,
div {
  &::-webkit-scrollbar-thumb {
    background-color: color.$main-color;
    border-radius: 0.7rem;
    border: 0.3rem solid transparent;
    background-clip: content-box;
  }
}

html,
body {
  &::-webkit-scrollbar-thumb {
    background-color: color.$main-color;
    border: 0.2rem solid transparent;
    background-clip: content-box;
  }
}

@media (max-width: 1000px) {
  div,
  main,
  html,
  body {
    &::-webkit-scrollbar {
      width: 15px;
      height: 15px;
    }

    &::-webkit-scrollbar-track {
      border-radius: 0.5rem;
    }
  }

  main,
  div {
    &::-webkit-scrollbar-thumb {
      border-radius: 0.6rem;
    }
  }
}
