@use '@styles/colors.scss' as color;

html {
  font-size: 10px;
  color: color.$font-color--black;
  font-family: 'Inter', sans-serif;
  background-color: color.$font-color--white;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}
