%flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

%grid-center {
  display: grid;
  align-items: center;
  justify-content: center;
  justify-items: center;
}

%standart-transition {
  transition: all 0.1s ease-in-out;
}
