@use '/src/styles/global/templates.scss';

.button-icon {
  @extend %standart-transition;

  width: 4rem;
  height: 4rem;
  cursor: pointer;

  &:hover {
    filter: brightness(1.2);
  }

  &:active {
    filter: brightness(0.8);
  }
}
