@use '../../../../styles/global/colors.scss' as *;
@use '../../../../styles/global/variables.scss' as v;

.add-task {
  &__content-block {
    display: grid;
    grid-template-columns: 6fr 4fr;
    grid-template-rows: repeat(2, auto) 1fr;
    background-color: $font-color--black;
    gap: 0.2rem;
    overflow-y: hidden;
  }

  &__table-block {
    height: 100%;
    overflow-y: scroll;
    background-color: $font-color--white;
    grid-column: 1/3;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__absence-product {
    font-size: 2.8rem;
    margin: 5rem 0 0 0;
  }

}

.table--add-task {
  margin: 0 2rem;
}

@media (max-width: 700px) {
  .add-task {
    font-size: 2rem;
  }
}
