@use '@styles/colors.scss' as color;
@use '@styles/templates.scss';

.popup {
  position: absolute;
  background-color: color.$font-color--white;
  top: 50%;
  left: calc(50% - 2rem);
  transform: translate(-50%, -50%);
  border-radius: 0.5rem;
  margin: 0 2rem;
  font-size: 1.6rem;
  box-shadow: 0 0 1rem 0;
  width: 95%;
  z-index: 5;

  &-form,
  &-view,
  &-select {
    display: grid;
    grid-template-rows: fit-content(100%) 1fr;
    max-width: 102.4rem;
    max-height: 76.8rem;
    height: calc(100% - 5rem);
  }

  &__background {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: color.$font-color--black;
    opacity: 0.5;
    z-index: 5;
  }
}
