@use '@styles/colors.scss' as color;
@use '@styles/templates.scss';

.form-layout {
  @extend %flex-center;

  background-color: color.$font-color--white;
  padding: 2rem;
  flex-direction: column;
  border-top: 0.2rem solid color.$font-color--black;
}

.popup-form__content-block--add-product {
  .form-layout {
    &--general {
      display: grid;
      grid-template-columns: 1fr 1fr;
      justify-items: center;
      border-top: none;
    }

    &--photo-and-category {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 12rem 12rem;
      column-gap: 4rem;
      justify-items: center;
    }

    &--main-info {
      display: grid;
      grid-template-columns: repeat(2, calc(50% - 2rem));
      column-gap: 4rem;
    }

    &--book-info {
      display: grid;
      grid-template-columns: 2fr 5fr;
      grid-template-rows: repeat(3, 10rem);
      column-gap: 4rem;
    }

    &--magazine-info {
      display: grid;
      grid-template-columns: 2fr 5fr;
      grid-template-rows: repeat(3, 10rem);
      column-gap: 4rem;
    }
  }
}
