@use '/src/styles/global/colors.scss' as color;
@use '/src/styles/global/variables.scss' as variable;
@use '/src/styles/global/layouts/display.scss';

.login {
  @extend %flex-center;

  &__container {
    @extend %flex-center;
    flex-direction: column;
    margin-top: 5rem;
  }

  &__app-icon {
    width: 32rem;
    height: 29rem;
    object-fit: cover;
  }

  &__title {
    font-size: 4.8rem;
    margin-bottom: 2rem;
    font-weight: 500;
  }

  &__inputs-block {
    width: 40rem;
    margin: 3rem;
    display: grid;
    grid-template-columns: min-content 4fr;
    align-items: center;
    row-gap: 2.4rem;
  }

  &__icon {
    height: 5.4rem;
    width: 5.4rem;
    box-sizing: border-box;
    margin: -0.2rem;
    padding: 1rem;
    border: 0.2rem solid color.$font-color--black;
    border-radius: 1rem 0 0 1rem;
    text-align: right;
    font-weight: 700;
  }

  &__input {
    height: 5.4rem;
    width: 100%;
    box-sizing: border-box;
    font-size: 2.4rem;
    padding-left: 1rem;
    border: 0.2rem solid color.$font-color--black;
    border-radius: 0 1rem 1rem 0;
    background-color: color.$font-color--white;

    &:focus {
      outline: none;
      border: 0.2rem solid color.$font-color--black;
    }
  }

  &__low-block {
    width: calc(100% - 10rem);
    @extend %flex-center;
    justify-content: space-between;
  }
}

@media (max-width: 1000px) {
  .login {
    &__app-icon {
      width: 12rem;
      height: 11rem;
    }

    &__container {
      margin-top: 3rem;
    }
    
    &__title {
      font-size: 2.4rem;
      margin-bottom: 0;
    }

    &__inputs-block {
      width: 25rem;
      margin: 2rem 1rem;
      row-gap: 2rem;
    }

    &__icon {
      height: 4rem;
      width: 4rem;
      padding: 0.7rem;
    }

    &__input {
      height: 4rem;
      font-size: 1.6rem;
    }

    &__low-block {
      width: calc(100% - 4rem);
      justify-content: space-between;
    }
  }
}
