@use '../../../styles/global/colors.scss' as *;
@use '../../../styles/global/variables.scss' as v;

.login {
	display: flex;
	justify-content: center;
	align-items: center;
	height: calc(100vh - v.$headerHeightStandart - 20rem);

	&__container {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__app-icon {
		width: 20rem;
	}

	&__inputs-block {
		width: 50rem;
		margin: 2rem 11.5rem 3rem 0;
		display: grid;
		grid-template-columns: 1fr 4fr;
		align-items: center;
		row-gap: 3rem;
	}

	&__label {
		font-size: 2.8rem;
		margin: 0 2rem 0 0;
		text-align: right;
		font-weight: bold;
	}

	&__input {
		height: 2.8rem;
		font-size: 2rem;
		border: 0.1rem solid $fontColor--black;
		background-color: $fontColor--white;
		border-radius: 0.2rem;

		&:focus {
			outline: none;
			border: 0.2rem solid $fontColor--black;
		}
	}
}

.button {
	&--login {
		font-size: 2.8rem;
		padding: 2rem 5rem;
	}
}

@media (max-width: 950px) {
	.button {
		&--login {
			font-size: 2.4rem;
			padding: 1.4rem 4rem;
		}
	}
}

@media (max-width: 700px) {
	.login {
		&__inputs-block {
			margin: 1rem 10rem 2rem 0;
			width: 40rem;
			row-gap: 2rem;
		}

		&__label {
			font-size: 2.4rem;
			margin: 0 1.5rem 0 0;
		}

		&__input {
			height: 2.4rem;
			font-size: 1.6rem;
		}
	}

	.button {
		&--login {
			font-size: 2rem;
			padding: 1rem 3rem;
		}
	}
}
