@use '@styles/colors.scss' as color;
@use '@styles/templates.scss';

.popup-view {
  &__content-block {
    display: grid;
    gap: 0.2rem;
    overflow-y: hidden;
    background-color: color.$font-color--black;
    grid-template-columns: 3fr 6fr;
    grid-template-rows: 12rem 1fr;
    border-radius: 1rem;

    &--view-location {
      grid-template-columns: 100%;
      grid-template-rows: 8rem 1fr;
      column-gap: 0;
    }
  }

  &__table-block {
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: color.$font-color--white;
    grid-column: 1/4;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 2rem;

    &--view-location {
      padding: 2rem 0 2rem 2rem;
    }
  }

  &__button-block {
    display: flex;
    width: 15rem;
    justify-content: space-around;
  }

  &__absence-product {
    font-size: 2.8rem;
    margin: 5rem 0 0;
  }

  &__switch {
    background: color.$third-color;
    height: 5rem;
    border: none;
    border-radius: 1rem;
    padding: 0 1rem;
    color: color.$font-color--white;

    &-block {
      @extend %flex-center;

      background: color.$font-color--white;
      gap: 2rem;
    }

    &-icon {
      width: 5rem;
      height: 5rem;
    }

    &--active {
      background: color.$third-color--active;
    }

    &:hover {
      background: color.$third-color--hover;
    }

    &:active {
      background: color.$third-color--active;
    }
  }
}
