@use '../global/colors.scss' as *;

.map {
	display: flex;
	align-items: center;
	justify-content: center;
	height: calc(100vh - 10rem + 10rem); // 100vh - header-height

	&__container {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	&__zone {
		display: flex;
		align-items: center;
		position: relative;
	}

	&__section {
		display: flex;
		flex-direction: column;
		width: fit-content;
		position: relative;
		margin: 4rem;
	}

	&__row {
		display: grid;
		grid-template-columns: repeat(9, 5rem);
		gap: 0.1rem;
		margin-bottom: -0.1rem;
		align-items: center;
		justify-items: center;
	}

	&__title {
		display: inline-block;
		font-size: 2rem;
		color: $tableColorOpacityMid;
		opacity: 0.5;
		padding: 0.5rem;
	}

	&__block {
		display: inline-block;
		border: 0.1rem solid $tableColor;
		width: 5rem;
		height: 5rem;
	}

	&__zone-title {
		color: $tableColorOpacityLow;
		font-size: 30rem;
		font-weight: bold;
		margin: 0;
		text-align: center;
		line-height: 1em;
		z-index: -1;
		position: absolute;
	}

	&__section-title {
		color: $tableColorOpacityMid;
		font-size: 10rem;
		font-weight: bold;
		margin: 0;
		text-align: center;
		line-height: 1em;
		z-index: -1;
		position: absolute;
	}
}
