@use '/src/styles/global/colors.scss' as *;
@use '/src/styles/global/variables.scss' as v;

.tasks {
  display: grid;
  height: calc(100vh - v.$header-height--standart);
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 8rem 1fr;
  justify-items: center;
  align-items: center;
  align-content: center;
  gap: 0.2rem;
  background-color: $font-color--black;

  &__title {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: $font-color--white;
    user-select: none;

    &--shipment {
      grid-row: 1/2;
      grid-column: 2/3;
    }

    &-text {
      font-size: 3.2rem;
      margin: 2rem 0;
    }
  }

  &__block {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: $font-color--white;
    overflow-y: scroll;
  }

  &__section-button {
    width: 80%;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem;
  }

  &__empty-text {
    margin: 5rem 0 0 0;
    font-size: 3rem;
  }
}



.table--tasks {
  margin: 2rem;
}

@media (max-width: 1100px) {
  .tasks {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, auto) 1fr;
    align-content: flex-start;

    &__title {
      &--shipment {
        grid-row: initial;
        grid-column: initial;
      }
    }

    &__block {
      height: calc(
        (100vh - v.$header-height--standart - (7.68rem * 2) - (0.2rem * 3)) / 2
      );
    }
  }
}

@media (max-width: 900px) {
  .tasks {
    &__block {
      height: calc(
        (100vh - v.$header-height--mid - (7.68rem * 2) - (0.2rem * 3)) / 2
      );
    }
  }
}

@media (max-width: 750px) {
  .tasks {
    &__block {
      height: calc(
        (100vh - v.$header-height--low - (5.219rem * 2) - (0.2rem * 3)) / 2
      );
    }

    &__title {
      &-text {
        font-size: 2.8rem;
        margin: 1rem 0;
      }
    }

    &__add-task {
      font-size: 2rem;
    }
  }
}
