@use '/src/styles/global/colors.scss' as color;
@use '/src/styles/global/variables.scss' as v;
@use '/src/styles/global/layouts/display.scss';

.tasks {
  height: calc(100vh - v.$header-height--standart);
  @extend %grid-center;
  grid-template-columns: 1fr;
  grid-template-rows: 3fr 1fr 15fr;

  &__table {
    height: calc(100% - 5rem);
    width: 70%;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: color.$bg-color-grey;
    border-radius: 1rem;
  }

  &__section-switcher {
    margin-bottom: 2rem;
  }

  &__switcher {
    height: 6rem;
    width: 22rem;
    background: color.$second-color;
    border: none;
    border-radius: 1rem;
    font-size: 2.4rem;
    color: color.$font-color--white;
    transition: all 0.1s ease-in-out;

    &--acceptance {
      border-radius: 1rem 0 0 1rem;
    }
    &--intra {
      border-radius: 0;
    }
    &--shipment {
      border-radius: 0 1rem 1rem 0;
    }

    &:hover {
      background: color.$second-color--hover;
    }
    &:active {
      background: color.$second-color--active;
    }
    &--active {
      background: color.$second-color--active;
    }
  }

  &__section-button {
    width: 60%;
    @extend %grid-center;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 2rem;
  }

  &__empty-text {
    margin: 5rem 0 0 0;
    font-size: 3rem;
  }
}
