@use '@styles/colors.scss' as color;
@use '@styles/templates.scss';
@use '@styles/variables.scss' as variable;

.points {
  @extend %grid-center;

  width: calc(100% - 2rem);
  align-items: flex-start;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 7rem 5rem calc(
      100vh - variable.$header-height--standard - 7rem - 5rem - 2rem - 1rem
    );
  margin: 0 0 0 2rem;
  row-gap: 0.5rem;

  &__search {
    width: calc(100% - 4rem);
    grid-column: 1/3;
    align-self: center;
  }

  &__title {
    grid-row: 2/3;
    font-size: 3.2rem;
    font-weight: 700;
    align-self: center;
  }

  &__block {
    margin: 1rem 0 2rem;
    width: calc(100% - 5rem);
  }
}

@media (max-width: 1000px) {
  .points {
    grid-template-columns: 1fr;
    grid-template-rows: 5rem 3rem auto 3rem auto;
    width: 100%;
    margin: 0;

    &__search {
      grid-column: unset;
      width: calc(100% - 2rem);
    }

    &__title {
      grid-row: unset;
      font-size: 2.4rem;
    }

    &__block {
      margin: 1rem;
      width: calc(100% - 2rem);
    }
  }
}

@media (max-width: 850px) {
  .points {
    grid-template-rows: 5rem 3rem auto 3rem auto;

    &__title {
      grid-row: unset;
      font-size: 2rem;
    }
  }
}
