@use '/src/styles/global/colors.scss' as color;
@use '/src/styles/global/templates.scss';

.table {
  display: grid;
  height: fit-content;
  max-width: 160rem;
  grid-template-columns: repeat(6, auto);
  grid-auto-rows: min-content;
  column-gap: 0.1rem;
  row-gap: 0.5rem;
  font-size: 1.6rem;
  position: relative;

  &__column {
    margin: 0;
    text-align: center;
    padding: 0 1rem;

    &-shell {
      @extend %flex-center;

      width: 100%;
      min-width: 2rem;
      min-height: 3rem;
      border: 0.1rem solid color.$font-color--black;
      background-color: color.$font-color--white;

      &--header {
        font-weight: 700;
        height: 5rem;

        .table__column {
          word-break: break-all;
        }
      }

      &--selected {
        background: color.$main-color--hover;
      }

      &--first {
        border-radius: 1rem 0 0 1rem;
      }

      &--last {
        border-radius: 0 1rem 1rem 0;
      }
    }
  }

  &__hover-helper {
    width: 100rem;
    height: 1.6rem;
    position: absolute;
  }

  &--map {
    margin: 2rem;
  }
}

@media (max-width: 900px) {
  .table {
    font-size: 1.4rem;

    &__column {
      padding: 0 0.5rem;

      &-shell {
        overflow-wrap: break-word;
        word-break: break-all;

        &--header {
          height: 3rem;
        }
      }
    }
  }
}

@media (max-width: 750px) {
  .table {
    font-size: 1rem;

    &__column {
      padding: 0 0.1rem;

      &-shell {
        min-height: 2rem;
        overflow-wrap: break-word;
        word-break: break-all;
      }
    }
  }
}
