@use '/src/styles/global/colors.scss' as *;

.table {
  display: grid;
  height: fit-content;
  max-width: 160rem;
  grid-template-columns: repeat(6, auto);
  grid-auto-rows: min-content;
  column-gap: 0.1rem;
  row-gap: 0.5rem;
  font-size: 1.6rem;
  position: relative;

  &__column {
    margin: 0;
    text-align: center;
    padding: 0 1rem;

    &-shell {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      min-width: 2rem;
      min-height: 3rem;
      border: 0.1rem solid $font-color--black;

      &--header {
        font-weight: bold;
        height: 5rem;
      }
    }
  }

  &__hover-helper {
    width: 100rem;
    height: 1.6rem;
    position: absolute;
  }

  &--map {
    margin: 2rem;
  }
}

.column-shell {
  &-enter {
    opacity: 0;
    position: absolute;
    transform: rotateY(-180deg);
  }

  &-enter-active {
    opacity: 1;
    transform: rotateY(0deg);
  }

  &-exit {
    opacity: 1;
    position: absolute;
    transform: rotateY(0);
  }

  &-exit-active {
    opacity: 0;
    transform: rotateY(180deg);
  }

  &-enter-active,
  &-exit-active {
    transition: all 400ms ease-in-out;
  }
}

@media (max-width: 900px) {
  .table {
    font-size: 1.4rem;

    &__column {
      &__shell {
        overflow-wrap: break-word;
        word-break: break-all;
      }
    }
  }
}

@media (max-width: 750px) {
  .table {
    font-size: 1.2rem;

    &__column {
      padding: 0 0.2rem;
      overflow: scroll;

      &__shell {
        overflow-wrap: break-word;
        word-break: break-all;
      }
    }
  }
}
