@use '/src/styles/global/colors.scss' as *;

.button {
  position: relative;
  border: none;
  border-radius: 1rem;
  font-size: 2.4rem;
  font-weight: 700;
  padding: 1rem 4rem;
  color: $font-color--white;
  user-select: none;
  cursor: pointer;
  background: $second-color;
  transition: all 0.1s ease-in-out;
  width: fit-content;

  &:hover {
    background: $second-color--hover;
  }

  &:active {
    background: $second-color--active;
  }

  &--tasks {
    margin: 2rem 0 0;
    font-size: 2rem;
    padding: 1rem;
  }

  &--products {
    font-size: 2rem;
    padding: 1rem 2rem;
  }

  &--add-task {
    margin: 2rem 0;
  }

  &--window-header {
    height: fit-content;
    width: fit-content;
    font-size: 2.8rem;
    padding: 1rem 3rem;
  }

  &--login {
    font-size: 2.8rem;
    padding: 1.2rem 4rem;
  }

  &__delete {
    padding: 0.4rem 1.4rem;
    margin: 0.1rem 0 0;
    font-size: 1.6rem;
  }

  &__confirm {
    width: 16rem;
    padding: 1.6rem 0;
    margin: 0 3rem;
    font-size: 2.4rem;
  }
}

@media (max-width: 1000px) {
  .button {
    font-size: 2rem;
    padding: 1rem 2rem;

    &--login {
      font-size: 2rem;
      padding: 0.8rem 2rem;
    }
  }
}
