@use '../../../styles/global/colors.scss' as *;

.button {
	background-color: $secondColor;
	border: none;
	border-radius: 0.3rem;
	font-size: 2.4rem;
	font-weight: bold;
	padding: 1rem 4rem;
	color: $fontColor--white;
}

@media (max-width: 950px) {
	.button {
		font-size: 2rem;
		padding: 1rem 2rem;
	}
}

@media (max-width: 700px) {
	.button {
		font-size: 1.6rem;
		padding: 0.5rem 2rem;
	}
}
