@use '../../../styles/global/colors.scss' as *;

.button {
  position: relative;
  border: none;
  border-radius: 0.3rem;
  font-size: 2.4rem;
  font-weight: bold;
  padding: 1rem 4rem;
  color: $font-color--white;
  user-select: none;
  cursor: pointer;
  background: $second-color 50%;
  transform: translate(0, -0.4rem);
  box-shadow: 0 0.4rem 0 0 $second-color-shadow;
  transition: all 0.1s ease-in-out;

  &:hover {
    background: $second-color--hover;
    transform: translate(0, -0.5rem);
    box-shadow: 0 0.5rem 0 0 $second-color-shadow;
  }

  &:active {
    background: $second-color--active;
    transform: translate(0, 0);
    box-shadow: none;
  }

  &--add-task {
    width: fit-content;
    margin: 2rem 0;
  }

  &--window-header {
    height: fit-content;
    width: fit-content;
    font-size: 2.8rem;
    padding: 1rem 3rem;
  }

  &--login {
    font-size: 2.8rem;
    padding: 2rem 5rem;
  }

  &__delete {
    padding: 0.3rem 1.4rem;
    margin: 0.5rem 0 0 0;
    font-size: 1.6rem;
  }
}

@media (max-width: 950px) {
  .button {
    font-size: 2rem;
    padding: 1rem 2rem;

    &--login {
      font-size: 2.4rem;
      padding: 1.4rem 4rem;
    }
  }
}

@media (max-width: 700px) {
  .button {
    font-size: 1.6rem;
    padding: 0.5rem 2rem;

    &--login {
      font-size: 2rem;
      padding: 1rem 3rem;
    }
  }
}
