@use '@styles/colors.scss' as color;
@use '@styles/templates.scss';

.popup-window {
  display: grid;
  grid-template-rows: fit-content(100%) 1fr;
  max-width: 51.2rem;
  height: 28.8rem;
  border-radius: 1rem;

  &__block {
    @extend %flex-center;
  }

  &__text {
    margin: 0 3rem;
    text-align: center;
  }
}
