$mainColor: #7FA89C;
$mainColor--hover: #7FA89C;
$mainColor--active: #7FA89C;

$secondColor: #C15943;
$secondColor--hover: #C15943;
$secondColor--active: #C15943;

$tableColor: rgba(26, 26, 26, 1);
$tableColorOpacityMid: rgba(26, 26, 26, 0.4);
$tableColorOpacityLow: rgba(26, 26, 26, 0.07);

$fontColor--white: #EAEAEA;
$fontColor--black: #1A1A1A;