$mainColor: #7FA89C;
$mainColor--hover: #7FA89C;
$mainColor--active: #7FA89C;

$secondColor: #C15943;
$secondColor--hover: #C15943;
$secondColor--active: #C15943;

$fontColor--white: #EAEAEA;
$fontColor--black: #1A1A1A;