@use '/src/styles/global/colors.scss' as color;
@use '/src/styles/global/variables.scss' as v;
@use '/src/styles/global/layouts/display.scss';

.popup {
  position: absolute;
  background-color: color.$font-color--white;
  top: 50%;
  left: calc(50% - 2rem);
  transform: translate(-50%, -50%);
  border-radius: 1rem;
  margin: 0 2rem;
  font-size: 2.4rem;
  box-shadow: 0 0 1rem 0;
  width: 95%;

  &--window {
    display: grid;
    grid-template-rows: fit-content(100%) 1fr;
    max-width: 51.2rem;
    height: 28.8rem;

    &__block {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &__text {
      margin: 0 3rem;
      text-align: center;
    }
  }

  &--form {
    display: grid;
    grid-template-rows: fit-content(100%) 1fr;
    max-width: 102.4rem;
    height: 76.8rem;

    &-select {
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: color.$font-color--white;

      &__free-space-indicator {
        margin: 2rem 35% 0;
        width: 30%;
        height: 3rem;
        background: #d35f48;
      }
    }

    &-choise {
      &__table {
        padding: 0 2rem;
      }
    }

    &-add-product {
      &__header {
        display: grid;
        align-items: center;
        grid-template-columns: 3fr 1fr;
        column-gap: 3rem;
        background-color: color.$main-color;
        height: v.$header-height--standart;
        border-radius: 1rem 1rem 0 0;
        padding: 0 3rem;
      }

      &__title {
        font-size: 3.2rem;
        grid-column: 1/4;
      }

      &__content-block {
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-template-rows: repeat(3, auto);
        background-color: color.$font-color--black;
        gap: 0.2rem;
        font-size: 2rem;
      }

      &__photo {
        width: 20rem;
        height: 20rem;
        padding: 1rem;

        &-block {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          background-color: color.$font-color--white;
          grid-column: 2/3;
          grid-row: 2/3;
        }

        &-text {
          margin: 0;
          text-align: center;
        }
      }

      &__empty-block {
        background-color: color.$font-color--white;
        grid-column: 1/3;
      }
    }

    &-add-task {
      &__content-block {
        display: grid;
        grid-template-columns: 4fr 6fr 2fr;
        grid-template-rows: 12rem 1fr;
        background-color: color.$font-color--black;
        gap: 0.2rem;
        overflow-y: hidden;
      }

      &__table-block {
        height: 100%;
        overflow-y: scroll;
        background-color: color.$font-color--white;
        grid-column: 1/4;
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      &__button-block {
        display: flex;
        width: 60%;
        justify-content: space-around;
      }

      &__absence-product {
        font-size: 2.8rem;
        margin: 5rem 0 0;
      }
    }
  }
}

@media (max-width: 700px) {
}

.popup-enter {
  opacity: 0;
}

.popup-enter-active {
  opacity: 1;
  transition: opacity 200ms ease-in-out;
}

.popup-exit {
  opacity: 1;
}

.popup-exit-active {
  opacity: 0;
  transition: opacity 200ms ease-in-out;
}
