@use '/src/styles/global/colors.scss' as color;
@use '/src/styles/global/variables.scss' as v;
@use '/src/styles/global/layouts/display.scss';

.popup {
  position: absolute;
  background-color: color.$font-color--white;
  top: 50%;
  left: calc(50% - 2rem);
  transform: translate(-50%, -50%);
  border-radius: 1rem;
  margin: 0 2rem;
  font-size: 2.4rem;
  box-shadow: 0 0 1rem 0;
  width: 95%;

  &-form,
  &-view {
    display: grid;
    grid-template-rows: fit-content(100%) 1fr;
    max-width: 102.4rem;
    height: 76.8rem;
  }
}
