@use '../../../styles/global/colors.scss' as *;

.select-points {
  background-color: $fontColor--white;
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 102.4rem;
  height: 76.8rem;
  transform: translate(-50%, -50%);
  border-radius: 0.5rem;
  box-shadow: 0 0 1rem 0;
}

.points-map {
  display: flex;
  justify-content: center;
  height: 100%;

  &__container {
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(5, 10rem);
    row-gap: 3rem;
    column-gap: 5rem;
    padding: 10rem 0 0 0;
  }

  &__points-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: fit-content;
  }

  &__points-shell {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $fontColor--black;
    box-sizing: border-box;
  }

  &__point {
    background-color: $fontColor--white;
    width: 10rem;
    height: 10rem;
    border: 0.2rem solid $fontColor--black;
  }

  &__title {
    font-size: 2rem;
    text-align: center;
  }
}
