@use '@styles/colors.scss' as color;
@use '@styles/templates.scss';

.popup-form {
  &__content-block {
    display: grid;
    gap: 0.2rem;
    overflow: hidden;
    background-color: color.$font-color--black;
    border-radius: 0.5rem;

    &--add-product {
      grid-template-columns: 3fr 1fr;
      grid-template-rows: repeat(3, auto);
    }

    &--add-task {
      grid-template-columns: 20% 65% 15%;
      grid-template-rows: 12rem 1fr;
    }

    &--add-map {
      height: 100%;
      padding: 2rem 5rem 0 2rem;
      overflow: scroll;
      justify-items: center;
      align-items: center;
      background-color: color.$font-color--white;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
    }

    &--add-user {
      height: 100%;
      grid-template-columns: 1fr;
      overflow: unset;
      grid-template-rows: repeat(3, auto);
    }

    &--view-task {
      grid-template-columns: 3fr 6fr;
      grid-template-rows: 12rem 1fr;
    }
  }

  &__photo {
    width: 20rem;
    height: 20rem;
    padding: 1rem;

    &-block {
      @extend %flex-center;

      flex-direction: column;
      background-color: color.$font-color--white;
      grid-column: 2/3;
      grid-row: 2/3;
    }

    &-text {
      margin: 0;
      text-align: center;
    }
  }

  &__table-block {
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: color.$font-color--white;
    grid-column: 1/4;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 2rem;
  }

  &__button-block {
    display: flex;
    width: 60%;
    justify-content: space-around;

    &--view-task {
      width: fit-content;
    }
  }

  &__absence-product {
    font-size: 2.8rem;
    margin: 5rem 0 0;
  }
}
