@use '@styles/colors.scss' as color;
@use '@styles/templates.scss';

.map {
  @extend %flex-center;

  width: 100%;
  justify-content: flex-start;
  flex-direction: column;

  &__search {
    margin: 2rem 0;
  }

  &__container {
    @extend %flex-center;

    justify-content: flex-start;
    position: relative;
    width: calc(100vw - 5rem);
    overflow: scroll;
    flex-direction: column;
    border-radius: 1rem;
    margin-bottom: 2.5rem;
    background-color: color.$bg-color-grey;
  }

  &__title {
    margin-bottom: 2rem;
    font-size: 2.8rem;
    text-align: center;
    font-weight: 700;
  }

  &__edit-button {
    position: absolute;
    top: 2rem;
    left: 2rem;
  }
}

@media (max-width: 1000px) {
  .map {
    &__search {
      margin: 1rem 0;
    }

    &__container {
      width: calc(100% - 2rem);
      margin-bottom: 1rem;
    }
  }
}
