@use '@styles/colors.scss' as color;
@use '@styles/templates.scss';
@use '@styles/variables.scss' as variable;

.map {
  @extend %grid-center;

  width: calc(100% - 2rem);
  align-items: flex-start;
  grid-template-columns: 1fr;
  grid-template-rows: 7rem calc(
      100vh - variable.$header-height--standard - 7rem - 2rem - 0.5rem
    );
  margin: 0 0 0 2rem;
  overflow: hidden;
  row-gap: 0.5rem;

  &__search {
    width: calc(100% - 4rem);
    align-self: center;
  }

  &__container {
    height: 100%;
    width: calc(100vw - 4rem);
    position: relative;
    border-radius: 0.5rem;
    overflow: scroll;
    background-color: color.$bg-color-grey;
  }

  &__title {
    margin-bottom: 2rem;
    font-size: 2.8rem;
    text-align: center;
    font-weight: 700;
  }

  &__edit-button {
    position: absolute;
    top: 2rem;
    left: 2rem;
  }
}

@media (max-width: 1000px) {
  .map {
    grid-template-rows: 5rem calc(
        100vh - variable.$header-height--mid - 5rem - 2rem - 0.5rem
      );
    width: 100%;
    margin: 0;

    &__search {
      width: calc(100% - 2rem);
    }

    &__container {
      width: calc(100% - 2rem);
      margin-bottom: 1rem;
    }
  }
}

@media (max-width: 850px) {
  .map {
    grid-template-rows: 5rem calc(
        100vh - variable.$header-height--low - 5rem - 2rem - 0.5rem
      );
  }
}
