@use '/src/styles/global/colors.scss' as color;

.popup-filter {
  width: 100%;
  background-color: color.$bg-color-grey;
  border-radius: 1rem;
  position: absolute;
  left: 0;

  &__button {
    width: calc(100% - 2rem);
    height: 4rem;
    border: none;
    border-radius: 1rem;
    margin: 1rem 1rem 3rem;
    font-size: 2rem;
    color: color.$font-color--white;
    background-color: color.$third-color;
  }
}
