@use '/src/styles/global/colors.scss' as color;
@use '/src/styles/global/variables.scss' as v;
@use '/src/styles/global/layouts/display.scss';

.header {
  height: v.$header-height--standart;
  @extend %flex-center;
  justify-content: space-between;
  background-color: color.$main-color;
  color: color.$font-color--white;

  &__info {
    margin-left: 1rem;
    @extend %flex-center;
  }

  &__icon {
    width: 8rem;
  }

  &__user {
    @extend %flex-center;
    margin-left: 1rem;
    flex-direction: column;
    &-name {
      font-weight: bold;
      font-size: 2.4rem;
    }

    &-role {
      font-size: 2rem;
      margin-top: 1rem;
    }
  }

  &__nav {
    height: 100%;
    @extend %flex-center;
    justify-self: flex-end;

    &-block {
      height: 100%;
      @extend %flex-center;
      padding: 0 1.6rem;
      transition: all 0.1s ease-in-out;

      &--active {
        background: color.$main-color--active;
      }

      &:hover {
        background: color.$main-color--hover;
      }

      &:active {
        background: color.$main-color--active;
      }
    }

    &-icon {
      height: 3.2rem;
      width: 3.2rem;
    }

    &-link {
      margin-left: 1rem;
      color: color.$font-color--white;
      font-size: 2.4rem;
      user-select: none;
    }
  }

  &__bar {
    width: 3rem;
    height: 3rem;
    margin-right: 2rem;
    fill: color.$font-color--white;
    background-color: transparent;
    border: none;
    display: none;
  }

  &--no-auth {
    justify-content: center;
  }

  &__app-name {
    font-size: 4rem;
  }
}

@media (max-width: 1250px) {
  .header {
    &__icon {
      width: 7rem;
    }

    &__nav {
      &-block {
        padding: 0 1rem;
      }
      &-link {
        font-size: 2rem;
      }

      &-icon {
        height: 2.8rem;
        width: 2.8rem;
      }
    }

    &__user {
      &-name {
        font-size: 2rem;
      }

      &-role {
        font-size: 1.6rem;
      }
    }
  }
}

@media (max-width: 1030px) {
  .header {
    height: v.$header-height--mid;
    &__icon {
      width: 6rem;
    }

    &__nav {
      &-link {
        font-size: 1.6rem;
      }

      &-icon {
        height: 2rem;
        width: 2rem;
      }
    }

    &__user {
      &-name {
        font-size: 1.6rem;
      }

      &-role {
        font-size: 1.2rem;
      }
    }
  }
}

@media (max-width: 850px) {
  .header {
    height: v.$header-height--low;

    &__nav {
      display: none;
    }

    &__bar {
      display: flex;
    }
  }
}
