@use '@styles/colors.scss' as color;

.popup-select {
  border-radius: 0.5rem;

  &__free-space-indicator {
    margin: 2rem 35% 0;
    width: 30%;
    height: 3rem;
    background: #d35f48;
    border-radius: 0.5rem;
  }

  &__table {
    padding: 2rem;
    overflow-y: auto;
  }

  &__content {
    display: flex;
    overflow-y: scroll;
    padding-bottom: 3rem;
    justify-content: center;
  }

  &__work-schedule {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr;
    margin: 2rem 6rem;
    row-gap: 2rem;

    &-item {
      display: grid;
      align-items: center;
      grid-template-columns: 4rem 12rem 12rem;
      column-gap: 4rem;
    }
  }
}
