@use '/src/styles/global/colors.scss' as color;
@use '/src/styles/global/variables.scss' as v;
@use '/src/styles/global/layouts/display.scss';

.popup-window {
  display: grid;
  grid-template-rows: fit-content(100%) 1fr;
  max-width: 51.2rem;
  height: 28.8rem;

  &__wrapper {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: calc(100vw - 20px);
    background: color.$font-color--black;
    opacity: 0.5;
  }

  &__block {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__text {
    margin: 0 3rem;
    text-align: center;
  }
}
