@use '@styles/colors.scss' as color;
@use '@styles/templates.scss';
@use '@styles/variables.scss' as variable;

.tasks {
  @extend %grid-center;

  width: calc(100% - 2rem);
  align-items: flex-start;
  grid-template-columns: calc(100vw - 4rem);
  grid-template-rows: 7rem 6rem calc(
      100vh - variable.$header-height--standard - 7rem - 6rem - 2rem
    );
  margin: 0 0 0 2rem;

  &__table {
    width: calc(100% - 2rem);
    max-width: 100rem;
  }

  &__section-switcher {
    align-self: center;
  }

  &__switcher {
    @extend %standard-transition;

    height: 5rem;
    width: 20rem;
    background: color.$second-color;
    border: none;
    border-radius: 0.5rem;
    font-size: 2rem;
    color: color.$font-color--white;

    &--acceptance {
      border-radius: 0.5rem 0 0 0.5rem;
    }

    &--intra {
      border-radius: 0;
    }

    &--shipment {
      border-radius: 0 0.5rem 0.5rem 0;
    }

    &:hover {
      background: color.$second-color--hover;
    }

    &:active {
      background: color.$second-color--active;
    }

    &--active {
      background: color.$second-color--active;
    }
  }

  &__section-button {
    @extend %flex-center;

    width: calc(100% - 4rem);
    column-gap: 2rem;
    align-self: center;
  }

  &__empty-text {
    margin: 5rem 0 0;
    font-size: 3rem;
  }
}

@media (max-width: 1000px) {
  .tasks {
    grid-template-rows: 4rem 6rem calc(
        100vh - variable.$header-height--mid - 4rem - 6rem - 2rem
      );

    &__section-switcher {
      margin-top: 1rem;
    }

    &__switcher {
      height: 3.4rem;
      width: 14rem;
      font-size: 1.4rem;
    }

    &__section-button {
      margin-top: 0.6rem;
    }
  }
}

@media (max-width: 850px) {
  .tasks {
    grid-template-rows: 4rem 6rem calc(
        100vh - variable.$header-height--low - 4rem - 6rem - 2rem
      );
  }
}
