@use '@styles/colors.scss' as color;
@use '@styles/templates.scss';

.tasks {
  @extend %grid-center;

  align-items: flex-start;
  grid-template-columns: 1fr;
  grid-template-rows: 9rem 8rem 1fr;

  &__table {
    height: calc(100% - 5rem);
    width: 70%;
    border-radius: 1rem;
  }

  &__section-switcher {
    margin-top: 1.4rem;
  }

  &__switcher {
    @extend %standart-transition;

    height: 6rem;
    width: 22rem;
    background: color.$second-color;
    border: none;
    border-radius: 1rem;
    font-size: 2.4rem;
    color: color.$font-color--white;

    &--acceptance {
      border-radius: 1rem 0 0 1rem;
    }

    &--intra {
      border-radius: 0;
    }

    &--shipment {
      border-radius: 0 1rem 1rem 0;
    }

    &:hover {
      background: color.$second-color--hover;
    }

    &:active {
      background: color.$second-color--active;
    }

    &--active {
      background: color.$second-color--active;
    }
  }

  &__section-button {
    @extend %grid-center;

    width: 60%;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 2rem;
    margin-top: 1rem;
  }

  &__empty-text {
    margin: 5rem 0 0;
    font-size: 3rem;
  }
}

@media (max-width: 1000px) {
  .tasks {
    grid-template-rows: 5rem 5rem 30fr;

    &__table {
      width: 70%;
    }

    &__section-switcher {
      margin-top: 1rem;
    }

    &__switcher {
      height: 3.4rem;
      width: 14rem;
      font-size: 1.4rem;
    }

    &__section-button {
      margin-top: 0.6rem;
    }
  }
}

@media (max-width: 750px) {
  .tasks {
    &__table {
      width: unset;
    }
  }
}
