@use '/src/styles/global/colors.scss' as color;
@use '/src/styles/global/variables.scss' as v;
@use '/src/styles/global/layouts/display.scss';

.form-layout {
  &__block {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &--product {
      &-title {
        grid-column: 1/3;
      }
      &-printing-house {
        grid-column: 2/3;
      }
      &-points,
      &-article {
        align-items: center;
      }
    }
    &--task {
      &-article {
        flex-direction: row;
        align-items: center;
        column-gap: 2rem;
      }
      &-points {
        align-items: center;
        justify-content: center;
      }
    }
  }

  &__title {
    width: fit-content;
    white-space: nowrap;
    user-select: none;
    margin-bottom: 0.4rem;

    &--task {
      &-article {
        font-size: 3.2rem;
      }
    }
    &--product {
      &-article {
        font-size: 3.2rem;
      }
    }
  }
}
