@use '../../../styles/global/colors.scss' as *;
@use '../../../styles/global/variables.scss' as v;

.map {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  height: calc(100vh - v.$headerHeightStandart);
}
