@use '@styles/colors.scss' as color;
@use '@styles/templates.scss';

.custom-select {
  width: 100%;
  font-size: 2rem;
  position: relative;

  &__button {
    width: 100%;
    position: relative;
    height: 4.4rem;
    border: none;
    border-bottom: 0.2rem solid color.$font-color--black;
    background: color.$font-color--white;
    padding: 0 4rem 0 0;
    overflow: hidden;
    cursor: pointer;

    &--active {
      opacity: 1;
    }

    &::after {
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      right: 0;
      transform: translate(0, -50%);
      width: 4rem;
      height: 4rem;
      background: url('~@assets/icons/select-arrow.svg');
      z-index: 2;
    }

    &::before {
      content: '';
      background-color: color.$font-color--white;
      position: absolute;
      top: 50%;
      right: 0;
      transform: translate(0, -50%);
      width: 4rem;
      height: 4rem;
      z-index: 1;
    }
  }

  &__text {
    width: fit-content;

    &-phantom {
      position: absolute;
      bottom: 0.9rem;
      white-space: nowrap;
    }

    &--button {
      white-space: nowrap;
    }
  }

  &__option {
    @extend %standart-transition;

    position: relative;
    width: calc(100% - 2rem);
    padding: 1rem;
    cursor: pointer;

    &:hover {
      background: color.$font-color--white--hover;
    }

    &--active,
    &:active {
      background: color.$font-color--white--active;
    }
  }

  &__downdrop {
    width: 100%;
    top: 5rem;
    left: 0;
    position: absolute;
    background: color.$font-color--white;
    border: 0.1rem solid color.$font-color--black;
    border-radius: 1rem;
    z-index: 2;
    overflow: hidden;
  }
}

@keyframes running-line {
  0% {
    transform: translateX(0%);
  }

  30% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-150%);
  }
}

@keyframes running-line-phantom {
  0% {
    transform: translateX(150%);
  }

  30% {
    transform: translateX(150%);
  }

  100% {
    transform: translateX(0%);
  }
}
