@use '@styles/colors.scss' as color;
@use '@styles/templates.scss';

html .map-block {
  width: 100%;
  display: grid;
  justify-content: flex-start;
  justify-items: flex-start;
  align-items: flex-start;
  grid-template-columns: repeat(2, auto);
  border-radius: 0.5rem;

  &__buttons {
    display: flex;
    gap: 1rem;
    margin: 1rem;
    padding: 0.4rem;
    border-radius: 0.5rem;
    background: color.$third-color;

    &--floor {
      position: absolute;
      left: calc(50% - 5rem);
      top: -4rem;
    }

    &--block {
      flex-direction: column;
      position: relative;
      top: 2.5rem;
      align-self: center;
    }

    &--section {
      position: relative;
      top: 2.5rem;
      margin: 3rem;
      align-self: center;
      justify-self: center;

      .map-block__button {
        width: 5rem;
        height: 5rem;
      }
    }

    &--zone {
      flex-direction: column;
      position: absolute;
      top: 7rem;
      left: -17rem;

      .map-block__button {
        width: 5rem;
        height: 5rem;
      }
    }

    &--map {
      align-self: center;
      justify-self: center;

      .map-block__button {
        width: 10rem;
        height: 10rem;
      }
    }
  }

  &__button {
    width: 3rem;
    height: 3rem;

    &-reset {
      position: absolute;
      top: 2rem;
      left: 10rem;
    }
  }

  &__zone {
    margin: 2rem 3rem 2rem 18rem;
    padding-right: 10rem;
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    justify-items: flex-start;
    position: relative;
  }

  &__section {
    display: flex;
    position: relative;
    margin: 4rem;
  }

  &__block {
    @extend %grid-center;

    grid-template-columns: 5rem;
    grid-template-rows: repeat(5, 5rem);
    gap: 0.1rem;
    margin: 0 0.1rem 0 0;
    box-sizing: border-box;
  }

  &__floor {
    @extend %flex-center;

    position: relative;
    border: 0.1rem solid color.$table-color;
    width: 5rem;
    height: 5rem;
    transition: all 0.5s ease-in-out;

    &-link {
      display: none;

      &--active {
        display: block;
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: color.$fourth-color;
        cursor: pointer;
        z-index: 1;
      }
    }

    &--title {
      border: none;
      font-weight: 700;
      font-size: 2rem;
      color: color.$table-color;
      user-select: none;
    }

    &--animation {
      &-current {
        animation: location-current 2000ms linear 0s infinite normal forwards;

        &::after {
          width: 5rem;
          height: 5rem;
          content: '';
          position: absolute;
          top: -50%;
          left: calc(50% - 2.5rem);
          background: url('~@assets/icons/arrow-up.svg');
          background-repeat: no-repeat;
          background-position: center;
          animation: location-pseudo 2000ms linear 0s infinite normal forwards;
        }
      }

      &-future {
        animation: location-future 2000ms linear 0s infinite normal forwards;

        &::after {
          width: 5rem;
          height: 5rem;
          content: '';
          position: absolute;
          top: -50%;
          left: calc(50% - 2.5rem);
          background: url('~@assets/icons/arrow-down.svg');
          background-repeat: no-repeat;
          background-position: center;
          animation: location-pseudo 2000ms linear 0s infinite normal forwards;
        }
      }
    }
  }

  &__zone-title {
    display: flex;
    justify-content: flex-end;
    top: 5.4rem;
    left: -15rem;
    transform: translate(50%, 0);
    position: absolute;
    color: color.$table-color;
    font-weight: 700;
    user-select: none;
    font-size: 15rem;
  }

  &__section-title {
    color: color.$table-color;
    font-weight: 700;
    margin: 0;
    text-align: center;
    line-height: 1em;
    top: calc(50% + 2.5rem);
    right: calc(0% - 1.5rem);
    transform: translate(100%, -50%);
    position: absolute;
    user-select: none;
    font-size: 8rem;
  }

  &--oneColumn {
    grid-template-columns: 1fr;
  }

  &--select-map {
    grid-template-columns: 1fr;
    overflow-y: scroll;
    overflow-x: hidden;
  }
}

@media (max-width: 1350px) {
  html .map-block {
    grid-template-columns: auto;
  }
}

@media (max-width: 1000px) {
  html .map-block {
    &__zone {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
      margin: 2rem 3rem 2rem 11rem;
    }

    &__section {
      margin: 2rem 2rem 2rem 3rem;
    }

    &__block {
      grid-template-columns: 4rem;
      grid-template-rows: repeat(5, 4rem);
    }

    &__floor {
      width: 4rem;
      height: 4rem;
    }

    &__zone-title {
      left: -9rem;
      font-size: 10rem;
      top: 4.4rem;
    }

    &__section-title {
      font-size: 5rem;
    }

    &__button-reset {
      left: 7rem;
    }

    &__buttons--zone {
      top: 5.2rem;
      left: -11rem;

      .map-block__button {
        width: 3rem;
        height: 3rem;
      }
    }
  }
}
