@use '/src/styles/global/colors.scss' as color;

@use '/src/styles/global/variables.scss' as v;
@use '/src/styles/global/layouts/display.scss';

.form-layout {
  background-color: color.$font-color--white;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  &--main-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 4rem;
  }

  &--second-info {
    grid-row: 2/4;
    display: grid;
    grid-template-columns: 2fr 5fr;
    grid-template-rows: repeat(3, 10rem);
    column-gap: 4rem;
  }

  &--time-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 4rem;
  }
}
