@use '@styles/templates.scss';

.users {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;

  &__section-button {
    @extend %flex-center;

    width: calc(100% - 4rem);
    column-gap: 2rem;
    margin: 1.4rem 0;
  }
}
